:root {
    --primary-color: #325592;
    --botton-color: #21427c;
    --second-color: grey;
    --input-field-border-color: rgb(185, 178, 178);
}

html {
    font-size: 62.5%;
}


.actions {
    display: flex;
    align-items: baseline;
}

.btn-a {
    padding: 1.1em 1.3em;
    text-transform: uppercase;
    font-weight: 570;
    text-decoration: none;
    font-size: 1.4em;
}

